*.dcu
*.~*
*.dproj.local
*.identcache
__history
*.drc
*.map
*.zip
*.exe
*.dll
*.elf
*.pdf
*.pptx
*.jpg
*.fig
*.xlsx
*.hwp
#schematic
*.DSN
*.DBK
*.BOM
*.vhd
*.var
*.cmd
*.vhd
*.png
*.db

#NOT INCLUDED FOLDER
/0.Schematic&datasheet_√÷¡æ
/0.Schematic&datasheet_final
/2.profile
/cc2540bluetooth